<mat-toolbar color="primary" [class.mat-elevation-z5]="true">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  {{title}}
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 64px)">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/dashboard">
          <mat-icon matListIcon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/heroes">
          <mat-icon matListIcon>person</mat-icon>
          Heroes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/powers">
          <mat-icon matListIcon>bolt</mat-icon>
          Powers
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>