/* AppComponent's private CSS styles */
.title{
  text-align: center;
  vertical-align: middle;
}
.mat-elevation-z5 {
   position: relative;
   z-index: 2;
}

.d-app{
    height: 100%;
    display: flex;
    flex-direction: column;
}
