<h2>My heroes</h2>

<div>
  <label> Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<div class="d-hero-table">
  <table mat-table [dataSource]="heroes" class="mat-elevation-z2">
    <ng-container matColumnDef="heroId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%; text-align: center;"> Hero ID </th>
      <td mat-cell *matCellDef="let hero"> {{hero.id}} </td>
    </ng-container>

    <ng-container matColumnDef="heroName">
      <th mat-header-cell *matHeaderCellDef style="width: 85%;"> Hero name </th>
      <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Actions </th>
      <td mat-cell *matCellDef="let hero">
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit hero</span>
          </button>
          <button mat-menu-item (click)="delete(hero)">
            <mat-icon>delete</mat-icon>
            <span>Delete hero</span>
          </button>
        </mat-menu>
        <button mat-stroked-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons class="mat-elevation-z2"></mat-paginator>
</div>

<!-- <ul class="heroes">
<li *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
<a>
<span class="badge">{{hero.id}}</span> {{hero.name}}
</a>
<button class="delete" title="Delete hero" (click)="delete(hero)">
x
</button>
</li>
</ul> -->
