.spacer {
  flex: 1 1 auto;
}

mat-card{
  margin: 20px;
}

.d-hero-table{
  text-align: -webkit-center;
  height: 70%
}

.d-hero-table table{
  margin: 5px 5px;
}

.d-hero-table table, mat-paginator, mat-form-field{
  width: 70%;
}
