<mat-card>
  <mat-toolbar>
    <span>Heroes</span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Create a new hero">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <div class="d-hero-table">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="heroesList" matSort class="mat-elevation-z2">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Hero ID </th>
        <td mat-cell *matCellDef="let hero"> {{hero.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 85%;"> Hero name </th>
        <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Actions </th>
        <td mat-cell *matCellDef="let hero">
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/detail/{{hero.id}}" routerLinkActive="active">
              <mat-icon>edit</mat-icon>
              <span>Edit hero</span>
            </button>
            <button mat-menu-item (click)="delete(hero)">
              <mat-icon>delete</mat-icon>
              <span>Delete hero</span>
            </button>
          </mat-menu>
          <button mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons class="mat-elevation-z2"></mat-paginator>
  </div>
</mat-card>
